<head th:fragment="head">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<title>Sherlock</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
	<!--/* jQuery */-->
	<script src="/js/jquery.js"></script>
	<!--/* Bootstrap */-->
	<script src="/js/bootstrap.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<!--/* Data table */-->
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap.min.js"></script>
	<link href="/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
	<!--/* Select2 */-->
	<script src="/js/select2.min.js"></script>
	<link href="/css/select2.min.css" rel="stylesheet"/>
	<link href="/css/select2-bootstrap.min.css" rel="stylesheet"/>
	<!--/* Sidebar CSS */-->
	<link href="/css/simple-sidebar.css" rel="stylesheet"/>
	<!--/* Switch */-->
	<link href="/css/bootstrap-switch.min.css" rel="stylesheet"/>
	<script src="/js/bootstrap-switch.min.js"></script>
	<!--/* Date Picker */-->
	<link href="/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<!--/* Toastr for notifications */-->
	<link href="/css/toastr.min.css" rel="stylesheet"/>
	<script src="/js/toastr.min.js"></script>
	<!--/* Sherlock CSS */-->
	<link href="/css/sherlock.css" rel="stylesheet"/>
	<!--/* Interact, used for rule drag and drop */-->
	<script src="/js/interact.min.js"></script>
	<!--/* HTML5 Shim and Respond.js IE8 support of HTML5 elements and mequeryries */-->
	<!--/* WARNING: Respond.js doesn't work if you view the page via file:// */-->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Codemirror -->
	<link rel="stylesheet" href="/css/codemirror.css"/>
	<script src="/js/codemirror.js"></script>
	<script src="/js/matchbrackets.js"></script>
	<script src="/js/javascript.js"></script>
	<script src="/js/cm-resize.js"></script>
	<script src="/js/annotatescrollbar.js"></script>
	<script src="/js/match-highlighter.js"></script>
	<script src="/js/matchesonscrollbar.js"></script>
	<script src="/js/searchcursor.js"></script>
	<script src="/js/simplescrollbars.js"></script>
	<link rel="stylesheet" href="/css/simplescrollbars.css"/>
	<link rel="stylesheet" href="/css/matchesonscrollbar.css"/>
	<link rel="stylesheet" href="/css/cm-resize.css"/>
	<!-- d3 -->
	<script src="/js/moment.min.js"></script>
	<script src="/js/d3.v3.min.js"></script>
	<script src="/js/d3-time.min.js"></script>
	<script src="/js/calendar-heatmap.js"></script>
	<link rel="stylesheet" href="/css/calendar-heatmap.css"/>
	<!-- slider -->
	<script src="/js/bootstrap-slider.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap-slider.min.css"/>
	<!--Custom bootstrap css-->
	<link href="/css/bootstrap-custom.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<!-- NVD3 -->
	<link href="/css/nv.d3.css" rel="stylesheet"/>
	<script src="/js/nv.d3.min.js"></script>
	<link href="/css/jobTimeline.css" rel="stylesheet"/>
	<script src="/js/d3-timeline.min.js"></script>
	<!-- Utility.js -->
	<script src="/js/utility.js"></script>
	<!-- CSS Homepage -->
	<link href="/css/homepage.css" rel="stylesheet"/>
	<!-- tokenfield bootstrap -->
	<link href="/css/bootstrap-tokenfield.min.css" rel="stylesheet"/>
	<script src="/js/bootstrap-tokenfield.min.js"></script>
	<!-- Include the multiselect plugin's CSS and JS: -->
	<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"/>
</head>
