<div id="sensitivityTable">
    <div>
        <img src="/img/SD_diagram.png" width="240"/>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr style="height:13px">
            <th style="white-space:nowrap;font-size:11px">Range</th>
            <th style="white-space:nowrap;font-size:11px">Fraction</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height:13px">
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 1&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.682689492</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 1.5&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.866385597</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 2&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.954499736</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 2.5&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.987580669</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 3&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.997300203</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 3.5&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.999534741</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 4&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.999936657</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 4.5&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.999993204</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 5&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.999999426</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 5.5&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.999999962</span></td>
        </tr>
        <tr>
            <td><span style="white-space:nowrap;font-size:11px">&mu; ± 6&sigma;</span></td>
            <td><span style="white-space:nowrap;font-size:11px">0.999999998</span></td>
        </tr>
        </tbody>
    </table>
</div>