<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper" th:replace="fragments/nav :: nav"></div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mega Query</h1>
                    <form id="queryForm" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="control-label" for="druidCluster">Druid Cluster</label>
                                <select id="druidCluster" class="form-control"
                                        th:field="*{druidCluster}" th:required="true">
                                    <option th:each="druidCluster : ${druidClusters}"
                                            th:value="${druidCluster.getClusterId()}"
                                            th:selected="false"
                                            th:attr="data-url=${druidCluster.getBrokerUrl()}"
                                            th:text="${druidCluster.getClusterName()}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="queryText">Query</label>
                                <div>
									<textarea id="queryText" name="queryText" th:type="text"
                                              class="form-control input-md"
                                              rows="20" cols="200"></textarea>
                                </div>
                            </div>

                            <div class="form-group" id="granularitySection">
                                <label class="control-label" for="granularity">Granularity</label>
                                <select id="granularity" class="form-control" th:field="*{granularity}" required="true">
                                    <option th:each="granularity : ${granularities}"
                                            th:value="${granularity}"
                                            th:selected="${granularity} == 'day' ? true : false"
                                            th:text="${granularity}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="endTime">End Time</label>
                                <div>
                                    <input id="endTime" name="endTime" type="datetime-local"
                                           class="form-control input-md" size="25"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="startTime">Start Time</label>
                                <div>
                                    <input id="startTime" name="endTime" type="datetime-local"
                                           class="form-control input-md" size="25"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="timeOrigin">Time Origin</label>
                                <div>
                                    <input id="timeOrigin" name="endTime" type="datetime-local"
                                           class="form-control input-md" size="25"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="hoursOfLag">Time SLA</label>
                                <div>
                                    <input id="hoursOfLag" name="endTime" type="number"
                                           class="form-control input-md" size="25"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="intervals">Period Intervals</label>
                                <div>
                                    <input id="intervals" name="endTime" type="number"
                                           class="form-control input-md" size="25"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="sdSlider">KSigma Sensitivity</label>
                                <div class="well">
                                    <input id="sdSlider" data-slider-id='sdControl' type="text" data-slider-min="1"
                                           data-slider-max="6" data-slider-step="0.5" data-slider-value="3"/>
                                    <span id="sdSliderValContainer"
                                          style="padding-left:4em">Current '&sigma;' Value: <span
                                            id="sdSliderVal">3</span>&sigma;</span>
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label" for="maxAnomalyTimeAgo">Max Anomaly
                                Time Ago</label>
                                <div><input id="maxAnomalyTimeAgo" name="maxAnomalyTimeAgo" type="number"
                                            th:value="9999"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="aggregation">Aggregation</label>
                                <div><input id="aggregation" name="aggregation" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="timeShifts">Time Shifts</label>
                                <div><input id="timeShifts" name="timeShifts" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="baseWindows">Base Windows</label>
                                <div><input id="baseWindows" name="baseWindows" type="text"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="period">Period</label>
                                <div><input id="period" name="period" type="number" class="form-control input-md"/>
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label" for="fillMissing">Fill Missing</label>
                                <div><input id="fillMissing" name="fillMissing" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="numWeeks">Number of Weeks</label>
                                <div><input id="numWeeks" name="numWeeks" type="number" class="form-control input-md"/>
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label" for="numToDrop">Number to Drop</label>
                                <div><input id="numToDrop" name="numToDrop" type="number"
                                            class="form-control input-md"/>
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label" for="dynamicParameters">Dynamic
                                Parameters</label>
                                <div><input id="dynamicParameters" name="dynamicParameters" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="autoSensitivityAnomalyPercent">Auto
                                Sensitivity Anomaly Percent</label>
                                <div><input id="autoSensitivityAnomalyPercent" name="autoSensitivityAnomalyPercent"
                                            type="text" class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="autoSensitivityStandardDeviation">Auto
                                Sensitivity Standard Deviation</label>
                                <div><input id="autoSensitivityStandardDeviation"
                                            name="autoSensitivityStandardDeviation" type="text"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="preWindowSize">Pre-Window
                                Size</label>
                                <div><input id="preWindowSize" name="preWindowSize" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="postWindowSize">Post-Window
                                Size</label>
                                <div><input id="postWindowSize" name="postWindowSize" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="confidence">Confidence</label>
                                <div><input id="confidence" name="confidence" type="text"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="windowSize">Window Size</label>
                                <div><input id="windowSize" name="windowSize" type="number"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group"><label class="control-label" for="filteringMethod">Filtering
                                Method</label>
                                <select id="filteringMethod" class="form-control" th:field="*{filteringMethod}"
                                        required="true">
                                    <option th:each="filteringMethod : ${filteringMethods}"
                                            th:value="${filteringMethod.toString()}"
                                            th:text="${filteringMethod.toString()}"></option>
                                </select>
                            </div>
                            <div class="form-group"><label class="control-label" for="filteringParam">Filtering
                                Parameter</label>
                                <div><input id="filteringParam" name="filteringParam" type="text"
                                            class="form-control input-md"/></div>
                            </div>
                            <div class="form-group">
                                <input id="submitInsta" type="submit" class="btn btn-success" value="Query"/>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="table-container" class="form-group"></div>
            <div id="chart-container" class="row"></div>
        </div>
    </div>
</div>

<script>
    /*<![CDATA[*/

    var queryText = codeMirror('#queryText');

    const $sdSlider = $('#sdSlider');
    $sdSlider.slider();
    $sdSlider.on("slide", function (slideEvent) {
        $("#sdSliderVal").text(slideEvent.value);
    });

    $(document).ready(function () {
        $("#queryForm").submit(function (e) {
            e.preventDefault();
            var data = {};
            data.query = queryText.getValue();
            data.granularity = $('#granularity').val();
            data.sigmaThreshold = $('#sdSliderVal').text();
            data.clusterId = $('#druidCluster').val();
            data.endTime = $('#endTime').val();
            data.startTime = $('#startTime').val();
            data.timeOrigin = $('#timeOrigin').val();
            data.hoursOfLag = $('#hoursOfLag').val();
            data.intervals = $('#intervals').val();
            data.maxAnomalyTimeAgo = $('#maxAnomalyTimeAgo').val();
            data.aggregation = $('#aggregation').val();
            data.timeShifts = $('#timeShifts').val();
            data.baseWindows = $('#baseWindows').val();
            data.period = $('#period').val();
            data.fillMissing = $('#fillMissing').val();
            data.numWeeks = $('#numWeeks').val();
            data.numToDrop = $('#numToDrop').val();
            data.dynamicParameters = $('#dynamicParameters').val();
            data.autoSensitivityAnomalyPercent = $('#autoSensitivityAnomalyPercent').val();
            data.autoSensitivityStandardDeviation = $('#autoSensitivityStandardDeviation').val();
            data.preWindowSize = $('#preWindowSize').val();
            data.postWindowSize = $('#postWindowSize').val();
            data.confidence = $('#confidence').val();
            data.windowSize = $('#windowSize').val();
            data.filteringMethod = $('#filteringMethod').val();
            data.filteringParam = $('#filteringParam').val();
            window.location.href = '/Debug/ProcessEgadsQuery?' + encodeQueryData(data);
        });
    });
    /*]]>*/
</script>
</body>
</html>